<!DOCTYPE html> 
<html style="width:200px; height:200px;"  ng-app>
<head>
  <title></title>
  <script src="../datastore.js"></script>
  <script src="../policy.js"></script>
  <script src="../lib/js/angular.min.js"></script>
  <script src="popup.js"></script>
  <script src="base64.js"></script>
</head>
<style type="text/css"> 
* {margin:0;padding:0} 
#main {margin:0px 0 0 0px} 
#main ul {width:100%;height:100%;list-style:none}
#main li {border-left:0px solid #ccc; border-top:1px solid #ccc;float:left;width:100%;height:33px;text-align:left;line-height:33px; color:#003399;} 
#main li.b {border-bottom:1px solid #ccc}
#main li.r {border-right:1px solid #ccc}
#main input.l{text-align:left}
#main input.r{text-align:right}
</style> 
<body style="width:200px; height:200px;">
<div id="main" ng-controller="FormListCtrl">
    <ul>
      <li>
        <input class="l" type="radio" ng-change="settings()" ng-model="enable" value="1">On</input>
        <input class="r" type="radio" ng-change="settings()" ng-model="enable" value="0">Off</input>
      </li>
      <li ng-repeat="(idx, policy) in policies">
         <input type="checkbox" ng-change="save()" ng-model="policy.enable" ng-true-value="1" ng-false-value="0"/>&nbsp;{{ policy.name }}
      </li>
      <li class="r"></li>
    </ul>
  </div>
</body></html> 
